*{
    margin:0;
    padding:0;
}

body{
    font-family:"微软雅黑" ;
    
}
.whole{
    width: 100%;
    height: 2300px;
    text-align: center;
   
    
}

.whole_content{
    width: 1366px;
    height: 2300px;
    margin:0 auto;
 
}
   
.header{
    background-image: url("images/header.gif");
    height: 97px;
    width: 1366px;
}
.head_content{
    width: 1366px;
    height: 97px;
    
}

  
   p{
    font-size: 14px;
    color: #333333;
    line-height:25px;
   }

.headNavigation1{
    margin-left: 270px;
  

}
.headNavigation2{
    margin-right: 200px;
    float: right;
}

.headNavigation1 li{

    list-style-type:none;
    float: left;
    margin-right: 59px;
    margin-top: 30px;
    color: #ffff;
}


.headNavigation2 li{

    list-style-type:none;
    float: left;
    margin-right: 59px;
    margin-top: 30px;
    color: #ffff;
}
.headNavigation1 li:hover{
    background-color: #ffff;
    color: #934f0e;
}
.headNavigation2 li:hover{
    background-color: #ffff;
    color: #934f0e;
}

.image_1{

    height: 684px;
    width: 1366px;
   
    background-image: url("images/banner/banner1.png");
}
.leftArrow{
    float:left;

    margin-top: 268px;
}
.rightArrow{
    float:right;

    margin-top: 268px;
}

.Main_content{

    height: 1408px;
    width: 975px;
   
    margin-left: 192px;

}

.Main_content_header{
    padding-top: 29px;
  margin-bottom: 47px;

}
.Main_content_left{
    width:440px;
    height: 1200px;
    float: left;
    font-size: 14px;
    color: #333333;
    text-align: right;
 

  
}
.fenge{

    padding:12px 6px 1200px 6px;
    
    margin-left: 6px;
    
    border-right: 5px solid #0d90fe;
    
    font-size: 0;
    
    }
.Main_content_right{
    font-size: 14px;
    color: #333333;
    width:440px;
    height: 1300px;
  
    float: right;
    text-align: left;
    
}

.content1 img{
   
    float: left;
    width: 277px;
    height: 221px;

}
 
.foot{
    height: 115px;
    width: 1366px;
   background-image: url("images/footer.gif");
 
}

